nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;

    button {
        color: #333;
        padding: 10px 20px;
        border-radius: 20px;
        background-color: #fff;
        width: 100px;
        border: none;
    }
}